$breakpoints:(
    Mb:(
        tamanhoMinimo:1px,
        tamanhoMaximo:false,
        espacoColunas:16px,
        margem:16px*2,
        fontSize:10pt,
        lineHeight:15pt,
        quantidadeColunas:2,
    ),
    Sm:(
        tamanhoMinimo:450px,
        tamanhoMaximo:false,
        espacoColunas:16px,
        margem:16px*2,
        fontSize:10pt,
        lineHeight:15pt,
        quantidadeColunas:6,
    ),
    Lg:(
        tamanhoMinimo:960px,
        tamanhoMaximo:false,
        espacoColunas:16px,
        margem:16px*2,
        fontSize:10pt,
        lineHeight:15pt,
        quantidadeColunas:12,
    ),
    Xl:(
        tamanhoMinimo:1200px,
        tamanhoMaximo:1200px,
        espacoColunas:32px,
        margem:32px*2,
        fontSize:10pt,
        lineHeight:15pt,
        quantidadeColunas:12,
    )
);